.hide{
    border-top: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

input[type=text]{
    outline: none;
    border: none;
    text-align: center;
}

